@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    width: 15%;
    height: 15%;
}



.bg-gradient-to-r{
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
}

.texts{
    text-align:center;
    font-size: 30px;
    font-weight: bold;
}

.text-4xl{
  overflow: hidden;
  font-size: 3rem;
  font-weight: 700;
  border-right: 0.20rem solid #9035d6;
  white-space: nowrap;
  animation: typing 5s steps(40, end);
}

@keyframes typing{
  from{
    width: 0;
  }
  to{
    width: 35%;
  }
}

.or{
    font-size: 1.1rem;
    margin-top: 0.5rem;
    text-align: center;
}

.icons{
    
    text-align: center;
}

.icons i{
    color: rgb(110, 70, 230);
    padding:0.8rem 1.5rem;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid;
    transition: 1s;
}

.icons i:hover{
    background: rgb(198, 160, 237);
    font-size: 1.6rem;
    border: 2px solid rgb(125, 125, 235);
}

.links{
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top: 0.9rem;
}

.links a{
    color: rgb(110, 70, 230);
    font-size: 1rem;
    font-weight: bold;
}

/* From Uiverse.io by kennyotsu-monochromia */ 
.Btn {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--night-rider);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--af-white);
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--af-white);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

#sidebar{
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}

/* From Uiverse.io by Yaya12085 */ 
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input:focus,.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid rgb(91, 107, 255);
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 45px;
}

.icon {
  position: absolute;
  left: 0;
  height: 45px;
  width: 45px;
  background-color: #fff;
  border-radius: 99px;
  z-index: -1;
  fill: rgb(91, 107, 255);
  border: 1px solid rgb(91, 107, 255);
}

.input:focus + .icon,.input:not(:placeholder-shown) + .icon {
  z-index: 0;
  background-color: transparent;
  border: none;
}
